node-red/flows.json
[{"id":"3cd9c58c.5d2542","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"194db15d.390adf","type":"homekit-service","z":"3cd9c58c.5d2542","isParent":true,"bridge":"c1087bfa.dd2538","parentService":"","name":"Roomba","serviceName":"Fan","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{\n    \"BatteryLevel\":true,\n    \"ChargingState\":true\n}","x":1397,"y":370,"wires":[["404562d0.846bf4","4b1b5c41.3a913c"]]},{"id":"4c8ad18d.016de8","type":"mqtt in","z":"3cd9c58c.5d2542","name":"","topic":"roomba/status","qos":"2","datatype":"auto","broker":"9fa3c88.cef82b8","x":363,"y":245,"wires":[["2045262c.42c85a"]]},{"id":"2045262c.42c85a","type":"change","z":"3cd9c58c.5d2542","name":"","rules":[{"t":"set","p":"status","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":567,"y":245,"wires":[[]]},{"id":"ada85405.c0f79","type":"mqtt in","z":"3cd9c58c.5d2542","name":"","topic":"roomba/charge","qos":"2","datatype":"auto","broker":"9fa3c88.cef82b8","x":362,"y":376,"wires":[["c357ba62.386738"]]},{"id":"c357ba62.386738","type":"switch","z":"3cd9c58c.5d2542","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":561,"y":376,"wires":[["b77f9e58.e0d288"],["4361a263.a01804"],["4361a263.a01804"],["4361a263.a01804"],["b77f9e58.e0d288"],["b77f9e58.e0d288"]]},{"id":"4361a263.a01804","type":"function","z":"3cd9c58c.5d2542","name":"charging","func":"msg.payload = {ChargingState:true}\nreturn msg;","outputs":1,"noerr":0,"x":812,"y":365,"wires":[["194db15d.390adf","c3e0570a.e95d3"]]},{"id":"b77f9e58.e0d288","type":"function","z":"3cd9c58c.5d2542","name":"not charging","func":"msg.payload = {ChargingState:false}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":417,"wires":[["194db15d.390adf","8d648da5.f4a26"]]},{"id":"c6bb899f.c31a7","type":"mqtt in","z":"3cd9c58c.5d2542","name":"","topic":"roomba/battery/percentage","qos":"2","datatype":"auto","broker":"9fa3c88.cef82b8","x":382,"y":486,"wires":[["575485a.88b2dfc","8bebc07d.23d28"]]},{"id":"575485a.88b2dfc","type":"function","z":"3cd9c58c.5d2542","name":"percentage","func":"msg.payload = {BatteryLevel:msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":818,"y":486,"wires":[["194db15d.390adf"]]},{"id":"c3e0570a.e95d3","type":"function","z":"3cd9c58c.5d2542","name":"Off","func":"msg.payload = {On:false}\nreturn msg;","outputs":1,"noerr":0,"x":1181,"y":307,"wires":[["194db15d.390adf"]]},{"id":"3c4b296e.0f486e","type":"function","z":"3cd9c58c.5d2542","name":"On","func":"msg.payload = {On:true}\nreturn msg;","outputs":1,"noerr":0,"x":1184,"y":233,"wires":[["194db15d.390adf"]]},{"id":"8d648da5.f4a26","type":"switch","z":"3cd9c58c.5d2542","name":"","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"cleaning","vt":"str"},{"t":"eq","v":"dock","vt":"str"},{"t":"eq","v":"power","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":997,"y":246,"wires":[["3c4b296e.0f486e"],["c3e0570a.e95d3"],["c3e0570a.e95d3"]]},{"id":"db802e12.c70368","type":"inject","z":"3cd9c58c.5d2542","name":"","topic":"","payload":"{\"On\":false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1195,"y":468,"wires":[["194db15d.390adf"]]},{"id":"552848ee.1b6868","type":"inject","z":"3cd9c58c.5d2542","name":"","topic":"","payload":"{\"ChargingState\":false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1164,"y":527,"wires":[["194db15d.390adf"]]},{"id":"37ab0a36.3f8d7e","type":"inject","z":"3cd9c58c.5d2542","name":"","topic":"","payload":" {\"BatteryLevel\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1169,"y":587,"wires":[["194db15d.390adf"]]},{"id":"404562d0.846bf4","type":"switch","z":"3cd9c58c.5d2542","name":"On","property":"payload.On","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1549,"y":370,"wires":[["244b9281.8b3206"],["468162fb.1b7734"]]},{"id":"7d8b5258.a6e154","type":"mqtt out","z":"3cd9c58c.5d2542","name":"","topic":"roomba/commands","qos":"2","retain":"false","broker":"9fa3c88.cef82b8","x":1918,"y":190,"wires":[]},{"id":"244b9281.8b3206","type":"function","z":"3cd9c58c.5d2542","name":"start","func":"msg.payload = \"start\"\nreturn msg;","outputs":1,"noerr":0,"x":1711,"y":191,"wires":[["7d8b5258.a6e154"]]},{"id":"468162fb.1b7734","type":"function","z":"3cd9c58c.5d2542","name":"stop","func":"msg.payload = \"stop\"\nreturn msg;","outputs":1,"noerr":0,"x":1718,"y":304,"wires":[["7d8b5258.a6e154"]]},{"id":"c5b537d8.f293b8","type":"debug","z":"3cd9c58c.5d2542","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1054,"y":83,"wires":[]},{"id":"5479d5b3.37d354","type":"mqtt in","z":"3cd9c58c.5d2542","name":"","topic":"roomba/#","qos":"2","datatype":"auto","broker":"9fa3c88.cef82b8","x":677,"y":86,"wires":[["c5b537d8.f293b8"]]},{"id":"4b1b5c41.3a913c","type":"debug","z":"3cd9c58c.5d2542","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1595,"y":478,"wires":[]},{"id":"c314b104.8ebd2","type":"ui_button","z":"3cd9c58c.5d2542","name":"Clean","group":"6aa7cb3b.07583c","order":1,"width":0,"height":0,"passthru":false,"label":"Clean","tooltip":"Start the cleaning mode","color":"","bgcolor":"","icon":"","payload":"start","payloadType":"str","topic":"","x":1665,"y":704,"wires":[["7d8b5258.a6e154"]]},{"id":"71c67b2e.943b3c","type":"ui_button","z":"3cd9c58c.5d2542","name":"Dock","group":"6aa7cb3b.07583c","order":2,"width":0,"height":0,"passthru":false,"label":"Dock","tooltip":"Send the roomba to the dock","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":1666,"y":757,"wires":[["7d8b5258.a6e154"]]},{"id":"5f582f3.b2063d","type":"ui_button","z":"3cd9c58c.5d2542","name":"Stop","group":"6aa7cb3b.07583c","order":3,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"stop the roomba without going to dock","color":"","bgcolor":"","icon":"","payload":"power","payloadType":"str","topic":"","x":1663,"y":823,"wires":[["7d8b5258.a6e154"]]},{"id":"8bebc07d.23d28","type":"ui_gauge","z":"3cd9c58c.5d2542","name":"Battery","group":"6aa7cb3b.07583c","order":4,"width":0,"height":0,"gtype":"gage","title":"Battery %","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#c93838","#e6e600","#00b500"],"seg1":"20","seg2":"40","x":1676,"y":879,"wires":[]},{"id":"f8b55367.eb1778","type":"ui_text","z":"3cd9c58c.5d2542","group":"6aa7cb3b.07583c","order":6,"width":0,"height":0,"name":"Capacity","label":"Capacity","format":"{{msg.payload}}mAh","layout":"row-spread","x":1691,"y":935,"wires":[]},{"id":"4cf60ae1.a7cefc","type":"ui_text","z":"3cd9c58c.5d2542","group":"6aa7cb3b.07583c","order":5,"width":0,"height":0,"name":"Charge","label":"Charge","format":"{{msg.payload}}mAh","layout":"row-spread","x":1704,"y":983,"wires":[]},{"id":"a01b79b0.03c1","type":"mqtt in","z":"3cd9c58c.5d2542","name":"","topic":"roomba/battery/capacity","qos":"2","datatype":"auto","broker":"9fa3c88.cef82b8","x":1435,"y":936,"wires":[["f8b55367.eb1778"]]},{"id":"c66d1ca3.4e68a8","type":"mqtt in","z":"3cd9c58c.5d2542","name":"","topic":"roomba/battery/charge","qos":"2","datatype":"auto","broker":"9fa3c88.cef82b8","x":1441,"y":993,"wires":[["4cf60ae1.a7cefc"]]},{"id":"af1e92a0.87cfa8","type":"ui_button","z":"3cd9c58c.5d2542","name":"Imperial","group":"6aa7cb3b.07583c","order":7,"width":0,"height":0,"passthru":false,"label":"Play imperial march","tooltip":"Start the cleaning mode","color":"","bgcolor":"","icon":"","payload":"imperial","payloadType":"str","topic":"","x":1663,"y":641,"wires":[["7d8b5258.a6e154"]]},{"id":"c1087bfa.dd2538","type":"homekit-bridge","z":"","bridgeName":"Roomba","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"9fa3c88.cef82b8","type":"mqtt-broker","z":"","name":"Raspberry pi - Mosquito","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6aa7cb3b.07583c","type":"ui_group","z":"","name":"Power","tab":"10af4ba.6ff7134","disp":true,"width":"6","collapse":false},{"id":"10af4ba.6ff7134","type":"ui_tab","z":"","name":"Roomba","icon":"dashboard","disabled":false,"hidden":false}]